html

body {
  font-family: helvetica, sans-serif;
}

.header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.header h1 {
  font-size: 70px;
  font-weight: bold;
}

.header nav li  {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0 5px 0;
  text-align: center;
  margin: auto;
  position: relative;
  left: -18px;
}

.Process {
  text-align: center;
}

.Process h2 {
  font-size: 32px;
  font-weight: bold;
}

.Process h3 {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

.Process p {
  font-size: 14px;
  text-align: center;
}

.comingsoon h3 {
  font-size: 23px;
  text-align: center;
  font-weight: bold;
}

.comingsoon p {
  font-size: 14px;
  text-align: center;
}

.imagebreak {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  font-size: 23px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.footerlink {
  font-size: 18px;
}

footer p {
  font-size: 11px;
  background-color: dimgray;
  color: white;
}

a {
  font-family: helvetica, sans-serif;
  color: white;
}
